@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
html {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1e1f24;
}

.menu {
  background: #f6f9fd;
  width: 100%;
}

h2 {
  color: #213453;
}

.menuopcions {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

main {
  max-width: 1280px;
  width: 90%;
  margin-bottom: 60px;
}

.inputUser {
  border-radius: 0.5rem;
  width: 260px;
  height: 1.5rem;
  border: 1px solid #88a9dc;
  padding-left: 6px;
  outline: none;
}

.hero {
  background: #f6f9fd;
  border-radius: 16px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 18px;
}

.dados-principais {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 18px;
}

.dados-email,
.dados-senha {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  max-width: 426px;
  width: 100%;
}

.input-label {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.genero,
.cpf,
.telefone,
.dataNascimento,
.selectOption {
  width: 174px;
  padding-left: 6px;
  outline: none;
}

.input-select {
  display: flex;
  justify-content: right;
  margin-right: calc(426px - 340px);
  gap: 20px;
}

.dados-diversos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
}

.dados-cadastrais {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 430px;
}

.dados-cadastrais p,
.area-interesse p {
  font-size: 18px;
}

.area-interesse {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 430px;
}

i {
  color: #8c3144;
}

.ofertas {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.selectOption {
  border-radius: 0.5rem;
  width: 10.9rem;
  height: 1.5rem;
  border-color: #88a9dc;
}
.button {
  display: flex;
  justify-content: flex-end;
}

.enviar {
  /* Resetando estilos padrão */
  border: none;
  padding: 0.5em 1em;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  /* Adicionando estilos personalizados */
  background-color: #285295;
  color: #ffffff;
  border-radius: 32px;
  width: 134px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding: 2rem;
}

@media (max-width: 1120px) {
  .dados-diversos {
    flex-direction: column;
  }

  .dados-principais,
  .dados-diversos,
  .dados-cadastrais,
  .area-interesse {
    flex-direction: column;
    align-content: center;
  }
}

@media (max-width: 620px) {
  .hero {
    background-color: transparent;
    padding: 30px;
  }

  .input-label,
  .input-select {
    flex-direction: column;
    gap: 5px;
  }

  .dados-cadastrais {
    max-width: 351px;
  }

  .inputUser {
    width: 322px;
  }

  main h2 {
    font-size: 20px;
    font-weight: normal;
  }

  .selectOption {
    width: 322px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 0;
  }

  .dados-cadastrais {
    max-width: 322px;
  }
}
