a {
  text-decoration: none;
  color: #285295;
}

.info-gasto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.add-gasto-botao {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-top: 40px;
}

.add-gasto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 9px;
  color: #285295;
}

.label-filtro {
  display: flex;
  gap: 9px;
}

.filtro {
  width: 332px;
}

.filtro:focus {
  outline: 1px solid #285295;
}

.botao-envio {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 6px 40px;
}

@media (max-width: 922px) {
  .add-gasto {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 730px) {
  .add-gasto-botao {
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 375px) {
  .filtro {
    width: 292px;
  }
}
