a {
  text-decoration: none;
  color: #285295;
}

.visao-geral {
  width: auto;
}

.info-usuario {
  display: none;
  flex-direction: column;
  /* gap: 30px; */
  margin-top: 30px;
}

.usuario-dados {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.usuario-nome {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #285295;
  font-weight: 500;
  font-size: 18px;
}

.usuario-dados span {
  color: #285295;
}

.usario-botoes {
  display: flex;
  gap: 35px;
  margin-top: 20px;
}

.nav-links {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  font: inherit;
  color: #1e1f24;
  font-weight: 500;
  font-size: 16px;
}

.nav-links:hover,
.nav-links:focus,
.nav-links.botaoAtivo {
  color: #285295;
  border-bottom: 2px solid #285295;
}

.resumo-mensal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#meses {
  width: auto;
  padding: 4px 8px;
  border: 1px solid #1e1f24;
  border-radius: 8px;
  outline: none;
  margin-bottom: 20px;
}

@media (max-width: 730px) {
  .botao-secundario {
    width: max-content;
  }
}
